name: Flutter Nightly Build

on:
  workflow_dispatch:
  
# on:
#   schedule:
#     # schedule build every night
#     - cron: "0 0 * * *"
#   workflow_dispatch:

# jobs:
#   run-flutter-nightly-build:
#     uses: ./.github/workflows/flutter-build.yml
#     secrets: inherit
#     with:
#       upload-artifact: true
#       upload-tag: "nightly"

jobs:
  run-flutter-nightly-build:
    uses: ./.github/workflows/flutter-build.yml
    secrets: inherit
    with:
      upload-artifact: true
      upload-tag: "nightly"
      matrix-jobs: |
        [
          { "arch": "aarch64", "target": "aarch64-linux-android", "os": "ubuntu-24.04", "reltype": "release", "suffix": "" },
          { "arch": "armv7", "target": "armv7-linux-androideabi", "os": "ubuntu-24.04", "reltype": "release", "suffix": "" },
          { "arch": "x86_64", "target": "x86_64-linux-android", "os": "ubuntu-24.04", "reltype": "release", "suffix": "" }
        ]
